
".config"
".HardwareSupplier\packages"
"HardwareSupplier\HardwareSupplier\bin"
"HardwareSupplier\HardwareSupplier\obj"
"HardwareSupplier\HardwareSupplier\Scripts"
"HardwareSupplier\HardwareSupplier\Content"
